<form class="ui stacked segment form" action="/dashboard/addteam" method="POST" enctype="multipart/form-data">
  <div class="two fields">
    <div class="field">
      <label>Team Name</label>
      <input placeholder="Name" type="text" name="name" required>
    </div>
    <div class="field">
      <label>Manager</label>
      <input placeholder="Manager" type="text" name="manager" required>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>Team Image URL</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>
    <div class="field">
      <label>Manager Image URL</label>
     <input placeholder="Image" type="file" name="picture" required>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>City</label>
      <input placeholder="e.g., London" type="text" name="City" required>
    </div>
    <div class="field">
      <label>Stadium</label>
      <input placeholder="e.g., Stamford Bridge" type="text" name="Stadium" required>
    </div>
  </div>

  <div class="field">
    <label>Players (comma-separated)</label>
    <input placeholder="e.g., Player 1, Player 2, Player 3" type="text" name="players" required>
  </div>

  <button class="ui purple submit button">Add Team</button>
</form>
