<form class="ui stacked segment form" action="/dashboard/addteam" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Team Name</label>
      <input placeholder="Name" type="text" name="name" required>
    </div>
    <div class="field">
      <label>Manager</label>
      <input placeholder="Manager" type="text" name="manager" required>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>Team Image URL</label>
      <input placeholder="https://example.com/team.png" type="url" name="image" required>
    </div>
    <div class="field">
      <label>Manager Image URL</label>
      <input placeholder="https://example.com/manager.png" type="url" name="manager-image" required>
    </div>
  </div>

  <button class="ui purple submit button">Add Team</button>
</form>
