<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/"> Premier League App </a>
  </header>
  
  <div class="right menu">
     <span class="name">{{fullname}}</span> 
    <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span>
  <a id="dashboard" class="item" href="/dashboard"> Teams Selection  </a>  
     <a id="about" class="item" href="/about"> About the Premier League  </a> 
     <a id="search" class="item" href="/search"> Search a Manager  </a>
      <a id="logout" class="item" href="/logout"> Logout </a>
  
    
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
