<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/"> Premier League App </a>
  </header>
  
  <div class="right menu">
  <a id="dashboard" class="item" href="/dashboard"> Teams Selection  </a> 
    
    
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
