  <section id="searchResults">
    {{#if foundTeams}}
      <h2>
          {{categoryTitle}}
      </h2>
    {{/if}}

    {{#each foundTeams}}
      <section class="ui left aligned middle aligned segment">

        <h3 class="ui header">
            {{name}}
        </h3>

        <p>
          <i class="user plus icon"></i>
            {{#if players}}
              Total players:
              {{players.length}}

              {{else}}
              Empty Team!
            {{/if}}
        </p>
        
      </section>
    {{/each}}

  </section>
