<nav class="ui menu welcome-menu">
  <div class="ui container">
    <a href="/" class="header item team-logo">
      <i class="futbol icon"></i> Premier League App
    </a>
    <div class="right menu">
      <a id="signup" class="item menu-link" href="/signup">
        <i class="user plus icon"></i> Sign Up
      </a>
      <a id="login" class="item menu-link" href="/login">
        <i class="sign-in icon"></i> Login
      </a>
    </div>
  </div>
</nav>

<script>
  document.querySelector("#{{id}}")?.classList.add("active");
</script>
