{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>Premier League App About</h2>
      <p>
        More Information on the league will be displayed here!
      </p>

</section>
