

{{> menu id="dashboard"}}
{{> addteam}}
<section class="ui left aligned middle aligned segment">
  
    <h2>Teams Selection</h2>
     {{#each teams}}
      <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{name}} 
          <img src="{{image}}"> 
          <a href="/team/{{id}}" class="ui icon button">
      <i class="fas fa-futbol"></i>
    </a> 
          <a href="/dashboard/deleteteam/{{id}}">
   <i class="ui trash black icon"></i>
</a>
        </h3>
      </section>
  
   {{/each}}
  
   

</section>