{{> menu}}

{{#if singleTeam}}
{{#with singleTeam}}
  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Stadium</th>
        <th>Manager</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            {{Stadium}}
          </td>
          <td>
            {{manager}}
          </td>
          <td>
            {{City}}
          </td>
        </tr>
    
    </tbody>
  </table>
  {{/with}}
  {{else}}
    <h3 class="ui message">
      Empty Team Info!
    </h3>

{{/if}}
