{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Premier League Teams App</h2>

  <p>
    You can use this start view (along with the matching start controller and start route) as the starting point for your "welcome" view (i.e. your app's homepage). Read the assignment spe.
  </p>
<img src= https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/premier%20league%20logo.png?v=1740487289105>
</section>
