{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Welcome to  the Premier League Teams App,{{fullname}}! </h2>

  <p>
    This app is YOUR destination for well validated information on all 20 premier league teams. With data from stadium names to managers, you can stay on top by exapanding your ball knowledge with the help of this app! Also features like adding a team with your own players
  </p> 
<img src s://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/premier%20league%20logo.png?v=1740487289105>
</section>
