html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: purple;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightblue;
}

nav {
  background-color: #f4f4f4; 
}

#dashboard {
  background-color: purple;
  color: white; 
}

#dashboard:hover {
  background-color: darkviolet; 
} 
#about {
  background-color: purple;
  color: white; 
} 
#search {
  background-color: purple;
  color: white; 
}
#logout {
  background-color: purple;
  color: white; 
}

#about:hover {
  background-color: darkviolet; 
} 

#logout:hover {
  background-color: darkviolet; 
} 

#search:hover {
  background-color: darkviolet; 
} 

.manager-image {
  width: 1200px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px; /* Optional: adds rounded corners */
}

.editSubmit {
  border: none;
  background: none;
}

.welcome-menu {
  background-color: white;
  border: 2px solid purple;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(128, 0, 128, 0.1); 
  padding: 0.5em;
  margin-bottom: 2em;
}

.welcome-menu .item {
  color: black !important;
  font-weight: bold;
}

.welcome-menu .team-logo {
  font-size: 1.3em;
  color: purple !important;
}

.menu-link:hover {
  background-color: #e0d3f5 !important; 
  color: black !important;
}

.name{
  padding-top:22.5px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}


.overall-statistics-title {
  color: #006666; 
  font-family: 'Poppins', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
} 

.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}

.ui.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

