html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: purple;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightblue;
}

nav {
  background-color: #f4f4f4; 
}

#dashboard {
  background-color: purple;
  color: white; 
}

#dashboard:hover {
  background-color: darkviolet; 
} 
#about {
  background-color: purple;
  color: white; 
}

#about:hover {
  background-color: darkviolet; 
} 

.manager-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px; /* Optional: adds rounded corners */
}

