html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}

nav {
  background-color: #f4f4f4; /* Or leave as default, depending on your preference */
}

#dashboard {
  background-color: purple;
  color: white; /* Make sure the text is readable */
}

#dashboard:hover {
  background-color: darkviolet; /* Darker color on hover */
} 
#about {
  background-color: purple;
  color: white; /* Make sure the text is readable */
}

#about:hover {
  background-color: darkviolet; /* Darker color on hover */
}
